
/*sidebar navigation*/

#sidebar {
    width: 300px;
    background: #E8E8E8   ;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

#sidebar > ul > li > ul.sub {
    display: none;
}



#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: white;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li a{
    color: black; /*color letra menu*/
    display: block;
    padding: 15px 0 15px 10px;/*tamaño botones menu*/
    border-right: 2px solid #D0D0D0 ;
    border-bottom: 1px solid #D8D8D8  ;
}


ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #5cb85c; /*color de las casillas o items al ser seleccionados*/
    color: white; /*color letra al seleccionar un item*/
    display: block;
    padding: 23px;

     
}


/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #5cb85c;   
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li.active a i {
    color:#F0F0F0;
}


/*AQUI QUEDE EN LA REVISION DE STYLE*/




